<div *ngIf="isLoading" class="loading-container">
  <mat-spinner></mat-spinner>
</div>


<div *ngIf="!isLoading && !hasData" class="empty-state">
  <p>Aucun rapport disponible.</p>
  <button mat-raised-button color="primary" (click)="openForm()">Nouveau Rapport</button>
</div>


<div class="card">
  <div class="card-body mt-4">
    <ng-container *ngIf="!isLoading && hasData ">
      <div class="table-container" *ngIf="!isLoading">
        <div class="d-flex justify-content-between align-items-center" >
          <div style="width: 50%">
            <mat-form-field appearance="fill" class="w-100">
              <mat-label>Rechercher</mat-label>
              <input matInput (keyup)="applyFilter($event)" >
            </mat-form-field>
          </div>
          <div style="width: 50%" class="d-flex justify-content-end">
            <button (click)="openForm()" style="background-color: #1a1b29; color: white"     mat-raised-button> Nouveau Rapport</button>
          </div>
        </div>

        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" >

          <ng-container matColumnDef="vehicule">
            <th mat-header-cell *matHeaderCellDef style="background-color: #1a1b29; color: gray"> Information du Vehicule</th>
            <td mat-cell *matCellDef="let element">
              <mat-chip-set aria-label="Fish selection">
                <mat-chip>{{element.vehicle.plate}}</mat-chip>
                <mat-chip>{{element.vehicle.brand}}</mat-chip>
              </mat-chip-set>
            </td>
          </ng-container>

          <ng-container matColumnDef="startKm">
            <th mat-header-cell *matHeaderCellDef style="background-color: #1a1b29; color: gray"> Debut Km</th>
            <td mat-cell *matCellDef="let element"> {{ element.startKm }} </td>
          </ng-container>
          <ng-container matColumnDef="endKm">
            <th mat-header-cell *matHeaderCellDef style="background-color: #1a1b29; color: gray"> Fin Km</th>
            <td mat-cell *matCellDef="let element"> {{ element.endKm }} </td>
          </ng-container>

          <ng-container matColumnDef="totalKm">
            <th mat-header-cell *matHeaderCellDef style="background-color: #1a1b29; color: gray"> Km Total</th>
            <td mat-cell *matCellDef="let element"> {{ element.totalKm }} </td>
          </ng-container>

          <ng-container matColumnDef="costPerKm">
            <th mat-header-cell *matHeaderCellDef style="background-color: #1a1b29; color: gray"> Coût/Km</th>
            <td mat-cell *matCellDef="let element"> {{ element.costPerKm }} </td>
          </ng-container>


          <ng-container matColumnDef="fuelType">
            <th mat-header-cell *matHeaderCellDef style="background-color: #1a1b29; color: gray"> Carburant</th>
            <td mat-cell *matCellDef="let element"> {{ element.fuelType }}</td>
          </ng-container>

          <ng-container matColumnDef="fuelQuantityGallons">
            <th mat-header-cell *matHeaderCellDef style="background-color: #1a1b29; color: gray">  Gallons</th>
            <td mat-cell *matCellDef="let element"> {{ element.fuelQuantityGallons }}</td>
          </ng-container>

          <ng-container matColumnDef="pricePerGallon">
            <th mat-header-cell *matHeaderCellDef style="background-color: #1a1b29; color: gray"> Prix</th>
            <td mat-cell *matCellDef="let element"> {{ element.pricePerGallon }}</td>
          </ng-container>



          <ng-container matColumnDef="totalFuelCost">
            <th mat-header-cell *matHeaderCellDef style="background-color: #1a1b29; color: gray"> Coût Carburant</th>
            <td mat-cell *matCellDef="let element"> {{ element.totalFuelCost | number }} </td>
          </ng-container>




          <ng-container matColumnDef="consumptionPer100Km">
            <th mat-header-cell *matHeaderCellDef style="background-color: #1a1b29; color: gray"> Coût/ 100Km</th>
            <td mat-cell *matCellDef="let element"> {{ element.consumptionPer100Km |number }} </td>
          </ng-container>



          <ng-container matColumnDef="totalCost">
            <th mat-header-cell *matHeaderCellDef style="background-color: #1a1b29; color: gray">  Total</th>
            <td mat-cell *matCellDef="let element"> {{ element.totalCost | number }} </td>
          </ng-container>

          <ng-container matColumnDef="estimatedCostHTG">
            <th mat-header-cell *matHeaderCellDef style="background-color: #1a1b29; color: gray">  HTG</th>
            <td mat-cell *matCellDef="let element"> {{ element.estimatedCostHTG | number }} </td>
          </ng-container>

          <ng-container matColumnDef="estimatedCostUSD">
            <th mat-header-cell *matHeaderCellDef style="background-color: #1a1b29; color: gray">   USD</th>
            <td mat-cell *matCellDef="let element"> {{ element.estimatedCostUSD | number }} </td>
          </ng-container>

          <ng-container matColumnDef="Action">
            <th mat-header-cell *matHeaderCellDef style="background-color: #1a1b29; color: gray"> Action</th>
            <td mat-cell *matCellDef="let element">

             <div class="d-flex gap-2">
               <button mat-raised-button   (click)="editReport(element)">
                 <i class="bi bi-pencil-fill " style="cursor: pointer"></i>
               </button>

               <button mat-raised-button color="accent" (click)="deleteReport(element)">
                 <i  class="bi bi-trash" style="cursor: pointer"></i>
               </button>
             </div>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns" style="background-color: #1a1b29; color: gray"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
      </div>
    </ng-container>

    <ng-container  *ngIf="!hasData ">
      <div class="d-flex justify-content-center align-items-center">
        <h2 class="text-body">Erreur lors du chargement des donnees</h2>
      </div>
    </ng-container>
  </div>
</div>
