<div class="sidebar">
  <div class="profile-section">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT8NkYb4LmdKwBpA57ZVCWkjdfHeCqm-i0ZrCDxyd_9xG-dunHiGbsR2RqIFtZ_mtMdk2I&usqp=CAU" alt="Profile" class="profile-image">
    <h5 class="mb-1">Gestion de Vehicule</h5>
    <p class="text-muted small text-white-50">Et de Rapportage</p>
  </div>

  <nav class="mt-4">
    <a *ngIf="role=='ADMIN'" routerLink="/admin/overview" routerLinkActive="active" class="nav-link">
      <i class="fas fa-chart-line"></i> Tableau de Bord
    </a>
    <a *ngIf="role=='ADMIN'" routerLink="/admin/vehicle/list" routerLinkActive="active" class="nav-link">
      <i class="fas fa-car"></i> Gestion Véhicule
    </a>
    <a routerLink="/admin/vehicle/report" routerLinkActive="active" class="nav-link">
      <i class="fas fa-file-alt"></i> Gestion Rapport
    </a>

    <div class="nav-section" *ngIf="role=='ADMIN'">
      <div class="nav-section-title">Paramètres</div>
      <a routerLink="/admin/setting" routerLinkActive="active" class="nav-link">
        <i class="fas fa-cog"></i> Configurations
      </a>
      <a routerLink="/admin/user" routerLinkActive="active" class="nav-link">
        <i class="fas fa-users"></i> Utilisateurs
      </a>
    </div>
  </nav>


  <div class="sidebar-bottom">
    <button class="logout-btn" (click)="logout()">
      <i class="fas fa-sign-out-alt"></i> Déconnexion
    </button>
  </div>
</div>

<div class="main-content">
  <div class="top-bar">
    <div class="user-profile">
      <img src="https://media.licdn.com/dms/image/v2/D4E03AQFdiltw4AUFAw/profile-displayphoto-shrink_200_200/profile-displayphoto-shrink_200_200/0/1712322410914?e=2147483647&v=beta&t=sFehX65DktCur6L2Jx1LA5LFqayfOFHRGWdtdFQwQ4I" alt="Profile">
      <div class="user-info">
        <h6>{{username}}</h6>
        <p>{{role}}</p>
      </div>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>
