
  <div class="row g-4" *ngIf="role==='ADMIN'">
    <!-- Activities -->
    <div class="col-md-4">
      <div class="stat-card">
        <div class="stat-icon bg-activities text-white">
          <i class="fas fa-gas-pump"></i>
        </div>
        <div class="stat-text">
          <h2 class="mb-0">{{stats.totalGallons}}</h2>
          <h6 class="mb-0">GALLONS</h6>
          <small class="text-muted">Nombre total de gallons d'essence</small>
        </div>
      </div>
    </div>

    <!-- Participants -->
    <div class="col-md-4">
      <div class="stat-card">
        <div class="stat-icon bg-participants text-white">
          <i class="fas fa-users"></i>
        </div>
        <div class="stat-text">
          <h2 class="mb-0">{{stats.totalVehicles}}</h2>
          <h6 class="mb-0">VÉHICULES</h6>
          <small class="text-muted">Nombre total de véhicules</small>
        </div>
      </div>
    </div>

    <!-- Completed Activities -->
    <div class="col-md-4">
      <div class="stat-card">
        <div class="stat-icon bg-completed text-white">
          <i class="fas fa-check-circle"></i>
        </div>
        <div class="stat-text">
          <h2 class="mb-0">{{stats.totalInsuranceCost| number}}</h2>
          <h6 class="mb-0">ASSURANCE</h6>
          <small class="text-muted">Montant total des assurances</small>
        </div>
      </div>
    </div>

    <!-- Upcoming Activities -->
    <div class="col-md-4">
      <div class="stat-card">
        <div class="stat-icon bg-upcoming text-white">
          <i class="fas fa-wrench"></i>
        </div>
        <div class="stat-text">
          <h2 class="mb-0">{{stats.totalRepairCost| number}}</h2>
          <h6 class="mb-0">RÉPARATION</h6>
          <small class="text-muted">Montant total des réparations</small>
        </div>
      </div>
    </div>

    <!-- Postponed Activities -->
    <div class="col-md-4">
      <div class="stat-card">
        <div class="stat-icon bg-postponed text-white">
          <i class="fas fa-tools"></i>
        </div>
        <div class="stat-text">
          <h2 class="mb-0">{{stats.totalMaintenanceCost| number}}</h2>
          <h6 class="mb-0">MAINTENANCE</h6>
          <small class="text-muted">Coût total de la maintenance</small>
        </div>
      </div>
    </div>

    <!-- Cancelled Activities -->
    <div class="col-md-4">
      <div class="stat-card">
        <div class="stat-icon bg-cancelled text-white">
          <i class="fas fa-dollar-sign"></i>
        </div>
        <div class="stat-text">
          <h2 class="mb-0">{{stats.totalRentalCost| number}}</h2>
          <h6 class="mb-0">LOCATION</h6>
          <small class="text-muted">Coût total de la location</small>
        </div>
      </div>
    </div>

    <!-- Transaction Graph -->
    <div class="col-md-8">
      <div class="stat-card">
        <h5 class="mb-4">Coût Totol Par Mois</h5>
        <canvas id="barChart"></canvas>
      </div>
    </div>

    <!-- Latest Records -->
    <div class="col-md-4">
      <div class="stat-card">
        <div class="card p-3">
          <h5 class="mb-3 text-center">Coût Total par Type de Carburant</h5>
          <canvas id="fuelTypeChart" style="height: 300px; width: 100%;"></canvas>
        </div>
      </div>
    </div>



  </div>
  <div class="container-fluid" *ngIf="role==='ADMIN'">
    <div class="stat-card-twelve" style="height: 400px; width: 100%;">
      <h5 class="mb-4">Coût Total sur 12 Mois</h5>
      <canvas id="barChartTwelve"></canvas>
    </div>
  </div>


  <div class="container-fluid" *ngIf="role==='REPORTER'">
    <div class="container d-flex justify-content-center align-items-center card " style="border-bottom: 2px solid red">
      <div class="text-center card-body ">
        <h1 class="display-4 text-danger">Accès refusé</h1>
        <p class="lead">vous n'avez pas la permission de voir cette page</p>
        <p class="lead">Cliquez sur Gestion des Rapports pour ajouter des rapports</p>
      </div>
    </div>

  </div>


