<div class="container p-5">
  <div class="card p-3">
    <div class="header" style="border-bottom: 2px solid #2a3746">
      <div class="card-title">
        <h6 class="text-body">{{ title }}</h6>
      </div>
    </div>

    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="m-3">
      <!-- Vehicle Selection -->
      <div class="row">
        <div class="col-md-12">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Selectionner un Véhicule</mat-label>
            <input type="text"
                   matInput
                   [formControl]="vehicleControl"
                   [matAutocomplete]="auto"
                   placeholder="Rechercher un véhicule">

            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selectVehicle($event.option.value)" >
              <mat-option  *ngFor="let vehicle of filteredVehicles | async" [value]="vehicle">
                <div class="d-flex justify-content-sm-between align-items-center gap-2">
                  <span><b>Plaque:</b> {{ vehicle.plate }}</span><br>
                  <span><b>Modèle:</b> {{ vehicle.model }}</span><br>
                  <span><b>Marque:</b> {{ vehicle.brand }}</span>
                  <span><b>Zl Code:</b> {{ vehicle.zlCode }}</span>
                  <span><b>Catégorie:</b> {{ vehicle.category }}</span>

                </div>
                <hr style="width: 100%"/>
              </mat-option>
            </mat-autocomplete>

            <mat-error *ngIf="form.get('vehicleId')?.invalid && form.get('vehicleId')?.touched">
              Le véhicule est requis
            </mat-error>
          </mat-form-field>


        </div>
      </div>

      <!-- First Row -->
      <div class="row">
        <div class="col-md-4">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Début KM</mat-label>
            <input matInput type="number" formControlName="startKm" />
          </mat-form-field>
        </div>
        <div class="col-md-4">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Fin KM</mat-label>
            <input matInput type="number" formControlName="endKm" />
          </mat-form-field>
        </div>
        <div class="col-md-4">
          <div *ngIf="!isShow">
            <mat-form-field appearance="outline" class="w-100" >
              <mat-label>Total KM</mat-label>
              <input matInput type="number" formControlName="totalKm" style="color: #cacacf; font-weight: bold; font-size: 30px"  />
            </mat-form-field>
          </div>

        </div>
      </div>

      <!-- Second Row -->
      <div class="row">
        <div class="col-md-4">

          <mat-form-field>
            <mat-label>Type de Carburant</mat-label>
            <mat-select formControlName="fuelType">
              <mat-option value="Diesel">Diesel</mat-option>
              <mat-option value="Gasoline">Gasoline</mat-option>
            </mat-select>
          </mat-form-field>

        </div>
        <div class="col-md-4">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Quantité Carburant (Gallons)</mat-label>
            <input matInput type="number" formControlName="fuelQuantityGallons" />
          </mat-form-field>
        </div>
        <div class="col-md-4">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Prix par Gallon</mat-label>
            <input matInput type="number" formControlName="pricePerGallon" />
          </mat-form-field>
        </div>
      </div>


      <!-- Fourth Row -->
      <div class="row">
        <div class="col-md-4">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Coût Total Carburant</mat-label>
            <input matInput   formControlName="totalFuelCost"   style="color: #cacacf; font-weight: bold; font-size: 30px"  />
          </mat-form-field>
        </div>
        <div class="col-md-4">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Consommation/100KM</mat-label>
            <input matInput   formControlName="consumptionPer100Km" style="color: #cacacf; font-weight: bold; font-size: 30px" />
          </mat-form-field>
        </div>
        <div class="col-md-4">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Coût par/Km </mat-label>
            <input matInput   formControlName="costPerKm" style="color: #cacacf; font-weight: bold; font-size: 30px" />
          </mat-form-field>
        </div>
      </div>

      <div class="row">

        <div class="col-md-4">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Coût Total</mat-label>
            <input matInput   formControlName="totalCost" style="color: #cacacf; font-weight: bold; font-size: 30px" />
          </mat-form-field>
        </div>
        <div class="col-md-4">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Coût de Location</mat-label>
            <input matInput type="number" formControlName="rentalCost"  />
          </mat-form-field>
        </div>
        <div class="col-md-4">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Coût de maintenance</mat-label>
            <input matInput type="number" formControlName="maintenanceCost" />
          </mat-form-field>
        </div>
      </div>



      <!-- Sixth Row -->
      <div class="row">
        <div class="col-md-4">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Frais de reparation</mat-label>
            <input matInput type="number" formControlName="repairCost" />
          </mat-form-field>
        </div>
        <div class="col-md-4">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Frais d'Assurance</mat-label>
            <input matInput type="number" formControlName="insuranceCost" />
          </mat-form-field>
        </div>
        <div class="col-md-4">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Cout Estimatif en HTG</mat-label>
            <input matInput type="number" formControlName="estimatedCostHTG" style="color: #cacacf; font-weight: bold; font-size: 30px" />
          </mat-form-field>
        </div>
      </div>

      <!-- Sixth Row -->
      <div class="row">

        <div class="col-md-4">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Cout Estimatif en USD</mat-label>
            <input matInput  formControlName="estimatedCostUSD" style="color: #cacacf; font-weight: bold; font-size: 30px" />
          </mat-form-field>
        </div>
        <div class="col-md-4">

          <mat-form-field>
            <mat-label>Monnaie</mat-label>
            <mat-select formControlName="currency">
              <mat-option value="HTG">HTG</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-md-4">

          <mat-form-field class="example-full-width">
            <mat-label>Date de Rapport</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="reportDate">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
      </div>





      <!-- Submit and Cancel Buttons -->
      <div class="d-flex justify-content-between gap-2">
        <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">Enregistrer</button>
        <button mat-raised-button type="button" (click)="onCancel()">Annuler</button>
      </div>
    </form>
  </div>
</div>
